body {
  background-image: url("../images/cowboy-bebop.jpg");
  background-size: cover;
  background-size: 100% auto;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.title {
  font-family: Special Elite;
  font-size: 100px;
  color: white;
  border: solid;
  padding-top: 30px;
}

.big-buffer {
  margin-top: 50px;
}

.med-buffer {
  margin-top: 30px;
}

#question {
  font-family: Special Elite;
  font-size: 60px;
  color: white;
}

#a1, #a2, #a3, #a4, #right-wrong {
  font-family: Abel;
  font-size: 55px;
  font-weight: bold;
  color: white;
  margin-top: 15px;
}

#timer {
  font-family: Special Elite;
  font-size: 55px;
  color: white;
}
